body
{
	display: flex;
	flex-direction: column;
}

header
{
	background-color: rgb(30, 32, 41);
}

main
{
	display: flex;
	flex-direction: row;
	flex: auto;
	background-color: lightgrey;
}

main article
{
	flex: 2;
	overflow-y: auto;
}

main aside
{
	flex: 1;
	overflow-y: auto;
	background-color: rgb(112, 165, 245);
}

.navig
{
	color: rgb(221, 5, 210);
}

.navig:hover
{
	color: aqua;
}

footer
{
	background-color: rgb(48, 70, 69);
}